.page {
    width: 95%;
    margin-top: 1%;
    align-self: center;
    text-align: start;
    background: #ffffff;
    font-size: 13px;
}

.comment {
    align-self: center;
    text-align: start;
    background: #ffffff;
    font-size: 13px;
}
